.feedback-popap {
    width: $desktopWidth;
    height: 1800px;    
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
    transform: translate(100%, 0px);    
    z-index: 500;
    display: flex;
    background-color: $default-color;
}
.feedback-popap--open {
    visibility: visible;
    transform: translate(0px, 0px);
    opacity: 96.05%;

}
.feedback-popap__menu {
    position: absolute;    
    top: 0;
    right: 0px;
    opacity: 1;    
    z-index: 600;
    width: $smPhoneWidth;
    height: 676px;
    background-color: $default-color;    
    display: flex;
    flex-direction: column;
    filter: drop-shadow(16px 16px 52px rgba(14, 24, 80, 0.2));
    @media (min-width: $submitSize) {
        width: 440px;
        height: 940px;
    }
}
.feedback-popap__button {
    background-color: $default-color;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    margin-left: 16px;
    margin-top: 24px;
    @media (min-width: $submitSize) {
        position: absolute;
        top: 0;
        right: 472px;
        margin-top: 32px;
        border-radius: 50%;
    }
}
.feedback-popap__title {
    height: 40px;
    width: 212px;
    margin-top: 32px;     
    align-items: center;
    justify-content: space-between;
    color: $success-color;
    font-family: $font-bold;  
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    display: flex;
    white-space: nowrap;
    span {
        margin-left: 16px;
    }
    @media (min-width: $submitSize) {
        span {
            margin-left: 30px;
        }
    }  
}
  
.feedback-popap__form {
    box-sizing: border-box;
    width: 288px;
    height: 48px;
    padding-left: 16px;
    margin: 16px;
    font-family: $font-medium;  
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $form-color;
    border: 1px solid $border-color;
    border-radius: 8px;
    &:nth-child(6) {
        resize: none;
        height: 118px;
        padding-top: 12px;
    }
    &:last-child {
        background-color: $button-color;
        color: $default-color;
        width: 136px;
        height: 32px;
        font-family: $font-bold;  
        font-size: 12px;        
        letter-spacing: -0.15px;
        border-radius: 16px;
        margin-top: 3px;
        margin-right: 16px;
        margin-left: 168px;
        cursor: pointer;
    }
    @media (min-width: $submitSize) {
        width: 376px;
        margin-left: 32px;
        &:last-child {
            margin-left: 272px;
            margin-top: 7px;
        }
    }    
}

.feedback-popap__content {
    width: 288px;
    height: 64px;
    margin: 16px;
    font-family: $font-medium;  
    font-size: 14px;
    line-height: 16px;color: $focus-color;
    a {
        text-decoration: none;
        color: $button-color;
    }
    @media (min-width: $submitSize) {
        width: 376px;
        height: 48px;
        margin-left: 32px;
    }
}


